---
import Layout from "../layouts/Layout.astro";
import ServiceCard from "../components/SeviceCard.astro";
import RightArrowIcon from "../assets/icons/RightArrowIcon.astro";
import LeftArrowIcon from "../assets/icons/LeftArrowIcon.astro";
const cards = [
	{
		title: "Desarrollo Web",
		text: "Texto de prueba",
		pathIcon: "/favicon.svg",
		pathBackground: "",
	},
	{
		title: "Desarrollo Movil",
		text: "Texto de prueba",
		pathIcon: "",
		pathBackground: "",
	},
	{
		title: "Diseño UI/UX",
		text: "Texto de prueba",
		pathIcon: "",
		pathBackground: "",
	},
	{
		title: "E-Comerce",
		text: "Texto de prueba",
		pathIcon: "",
		pathBackground: "",
	},
];
---

<Layout title="HighQ Dev" description="Welcome to HighQ Dev">
	<h1>Welcome to Astro</h1>
	<section
		aria-labelledby="Servicios"
		class="w-full max-w-screen-2xl mx-auto py-10 px-4 sm:px-6 lg:px-8 h-fit"
	>
		<h2
			id="Servicios"
			class="text-2xl mt-8 sm:mt-10 text-center sm:text-left px-2 sm:px-0"
		>
			Nuestros servicios
		</h2>

		<div class="relative w-full mt-4 sm:mt-6">
			<div id="leftButtonContainer" class="hidden sm:block">
				<div
					class="hidden sm:block absolute left-0 -ml-5 bg-white/60 backdrop-blur-sm blur-sm h-full w-[120px] z-30 rounded-xl"
				>
				</div>
				<button
					id="scroll-left"
					class="absolute left-2 sm:left-3 top-1/2 -translate-y-1/2 bg-white text-black p-2 sm:p-3 rounded-full z-40 border-2 border-gray-100 shadow-sm hover:shadow-md transition-shadow"
				>
					<LeftArrowIcon
						alt="icon"
						class="w-5 h-5 sm:w-6 sm:h-6"
					/>
				</button>
			</div>

			<div
				id="carousel"
				class="flex gap-x-3 sm:gap-x-4 md:gap-x-6 mt-4 p-2 sm:p-4 overflow-x-auto scroll-smooth snap-x snap-mandatory md:overflow-hidden :no-scrollbar"
			>
				{
					cards.map((info) => (
						<ServiceCard
							title={info.title}
							text={info.text}
							pathIcon={info.pathIcon}
							pathBackground={info.pathBackground}
						/>
					))
				}
			</div>

			<div id="rightButtonContainer" class="hidden sm:block">
				<div
					class="hidden sm:block absolute right-0 top-1/2 -translate-y-1/2 -mr-2 bg-white/60 backdrop-blur-xs blur-xs h-full w-30 z-30"
				>
				</div>
				<button
					id="scroll-right"
					class="absolute right-2 sm:right-3 top-1/2 -translate-y-1/2 bg-white text-black p-2 sm:p-3 rounded-full z-40 border-2 border-gray-100 shadow-sm hover:shadow-md transition-shadow"
				>
					<RightArrowIcon
						alt="icon"
						class="w-5 h-5 sm:w-6 sm:h-6"
					/>
				</button>
			</div>
		</div>
	</section>
	<section 
		aria-labelledby="Garantizamos"
		class="w-full max-w-screen-2xl mx-auto py-10 px-4 sm:px-6 lg:px-8"
		>
    <div class="container mx-auto px-8">
        <h2 
			class="text-4xl font-bold sm:text-4xl mt-8 sm:mt-10 text-center sm:text-left px-2 sm:px-0"
			id="Garantizamos"
			>
            Garantizamos...
        </h2>
        <div class="grid md:grid-cols-2 gap-5">
            <div class="p-8 mt-4 sm:mt-6">
                <RightArrowIcon/>
                <h4 class="font-bold text-xl mt-3">
                    Automatizacion de recursos empresariales
                </h4>
                <p class="text-gray-500 text-lg mt-4">
                    optimizacion de tareas repetitivas mediante software
                    automatizado, reduciendo costos y mejorando la productividad
                </p>
            </div>
            <div class="p-8 mt-4 sm:mt-6">
                <RightArrowIcon/>
                <h4 class="font-bold text-xl mt-3">
                    Automatizacion de recursos empresariales
                </h4>
                <p class="text-gray-500 text-lg mt-4">
                    optimizacion de tareas repetitivas mediante software
                    automatizado, reduciendo costos y mejorando la productividad
                </p>
            </div>
            <div class="p-8 mt-4 sm:mt-6">
                <RightArrowIcon/>
                <h4 class="font-bold text-xl mt-3">
                    Automatizacion de recursos empresariales
                </h4>
                <p class="text-gray-500 text-lg mt-4">
                    optimizacion de tareas repetitivas mediante software
                    automatizado, reduciendo costos y mejorando la productividad
                </p>
            </div>
            <div class="p-8 mt-4 sm:mt-6">
                <RightArrowIcon/>
                <h4 class="font-bold text-xl mt-3">
                    Automatizacion de recursos empresariales
                </h4>
                <p class="text-gray-500 text-lg mt-4">
                    optimizacion de tareas repetitivas mediante software
                    automatizado, reduciendo costos y mejorando la productividad
                </p>
            </div>
        </div>
    </div>
</section>
</Layout>

<script>
    let scrollContainer = document.getElementById("carousel");
    let leftButton = document.getElementById("leftButtonContainer");
    let rightButton = document.getElementById("rightButtonContainer");

    document
        .getElementById("scroll-left")
        ?.addEventListener("click", () => scroll(-340, 1000));
    document
        .getElementById("scroll-right")
        ?.addEventListener("click", () => scroll(340, 1000));

    scrollContainer?.addEventListener("scroll", () => updateButtonVisibility());

    const scroll = (offset: number, duration: number) => {
        if (!scrollContainer) return;

        let startTime: number | null = null;
        const startScroll = scrollContainer.scrollLeft;
        const targetScroll = startScroll + offset;

        const step = (timestamp: number) => {
            if (!startTime) startTime = timestamp;
            const elapsed = timestamp - startTime;
            const progress = Math.min(elapsed / duration, 1);

            const easeOutQuad = progress * (2 - progress);
            scrollContainer!.scrollLeft =
                startScroll + (targetScroll - startScroll) * easeOutQuad;

            if (progress < 1) {
                requestAnimationFrame(step);
            }
        };

        requestAnimationFrame(step);
    };

    const updateButtonVisibility = () => {
        if (!scrollContainer || !leftButton || !rightButton) return;

        const maxScrollLeft: number =
            scrollContainer.scrollWidth - scrollContainer.clientWidth;

        leftButton.style.display =
            scrollContainer.scrollLeft <= 100 ? "none" : "block";
        rightButton.style.display =
            scrollContainer.scrollLeft >= maxScrollLeft ? "none" : "block";
    };
    updateButtonVisibility();
</script>
