---
console.log("HighQDev.com");
---

<header class="py-8 text-white bg-black px4 mx-auto mas-w-xl lg:py-16 lg:px-16">
    <div class="mx-auto text-center mb-8 lg:mb-16">
        <h2>Carrusel</h2>
        <p>Allasakajsnbdkbk</p>
    </div>
</header>
