---
import img1 from "../assets/images/portadatest.jpg";
import img2 from "../assets/images/portadatest2.jpg";
import img3 from "../assets/images/portadatest3.jpg";

const images = [
  {
    src: img1.src,
    text: "Soluciones inovadoras",
    secondText:
      "Nuestras soluciones innovadoras cumplen con altos estándares de calidad y permiten alcanzar objetivos estrátegicos de manera eficiente.",
  },
  {
    src: img2.src,
    text: "Software a la medida",
    secondText:
      "Nuestro enfoque garantiza que cada sistema se adapta a tus necesidades y contribuye al éxito de tus clientes.",
  },
  {
    src: img3.src,
    text: "Calidad de software",
    secondText:
      "Analizamos y evaluamos tu software a fondo para asegurar que cumplan con los estándares más exigentes.",
  },
];
---
<section class="w-full mx-auto overflow-hidden flex">
  <div id="carouselContainer" class="overflow-hidden relative z-10">
    <div id="carousel" class="flex w-full h-[40vh] sm:h-[75vh] md:h-[85vh] lg:h-[90vh] transition-transform duration-500 ease-in-out">
      {images.map((img, index) => (
        <div class="relative w-full h-full">
          <!-- Imagen -->
          <img src={img.src} class="w-full h-full object-cover" alt={`Slide ${index + 1}`} />
          <div class="absolute inset-0 bg-black/70"></div>
          <!-- Texto encima de la imagen -->
          <div class="absolute bottom-10 left-0 text-white p-4 sm:p-6 md:p-8 lg:p-10">
            <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-bold mb-2 sm:mb-4">
              {img.text}
            </h2>
            <p class="text-sm sm:text-base md:text-lg lg:text-xl max-w-2xl mb-4 sm:mb-6">
              {img.secondText}
            </p>
            <a href="/#contacto">
            <button class="mt-4 sm:mt-6 text-black px-4 py-2 rounded transition transform active:scale-90 text-sm sm:text-base md:text-lg"
              style="background-color: rgba(123, 217, 87, 1);">
              Me interesa
            </button>
            </a>
          </div>
        </div>
      ))}
    </div>
  </div>
</section>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    let index = 0;
    const carousel = document.getElementById("carousel");

    if (!carousel) return; // Evita errores si el elemento no se encuentra

    const images = carousel.children;
    const totalImages = images.length;

    function nextSlide() {
      index = (index + 1) % totalImages; // Ciclo infinito
      carousel.style.transform = `translateX(-${index * 100}%)`;
    }

    setInterval(nextSlide, 7000); // Cambia cada 5 segundos
  });
</script>

<style>
  #carousel {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
  }
  #carousel > div {
    flex: 0 0 100%;
  }
</style>