---
import Clock from "../assets/icons/sections/Clock.astro"
import Gear from "../assets/icons/sections/Gear.astro"
import Lock from "../assets/icons/sections/Lock.astro"
import Pen from "../assets/icons/sections/Pen.astro"
---

<section aria-labelledby="Garantizamos" class="w-full max-w-screen-2xl mx-auto py-8 px-4 sm:px-6 lg:px-8">
  <div class="container mx-auto px-4">
    <h2 
      class="text-3xl sm:text-3xl font-bold text-center text-gray-900 mb-12"
      id="Garantizamos"
    >
      Garantizamos soluciones confiables para tu empresa
    </h2>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
      <!-- Tarjeta 1 -->
      <div class="bg-white shadow-md hover:shadow-lg transition-all duration-300 rounded-2xl p-16 flex flex-col sm:flex-row items-start text-left">

        <div class="bg-indigo-100 p-3 rounded-full mb-4 sm:mb-0 sm:mr-4">
          <Gear class="w-8 h-8 text-indigo-600" />
        </div>
        <div>
          <h4 class="font-semibold text-lg text-gray-800">Automatización de recursos</h4>
          <p class="text-gray-500 text-sm mt-2">
            Optimización de tareas repetitivas mediante software automatizado, reduciendo costos y mejorando productividad.
          </p>
        </div>
      </div>

      <!-- Tarjeta 2 -->
      <div class="bg-white shadow-md hover:shadow-lg transition-all duration-300 rounded-2xl p-16 flex flex-col sm:flex-row items-start text-left">
        <div class="bg-green-100 p-3 rounded-full mb-4 sm:mb-0 sm:mr-4">
          <Lock class="w-8 h-8 text-green-600" />
        </div>
        <div>
          <h4 class="font-semibold text-lg text-gray-800">Seguridad y protección de datos</h4>
          <p class="text-gray-500 text-sm mt-2">
            Protocolos avanzados para asegurar la integridad y confidencialidad de la información empresarial y de clientes.
          </p>
        </div>
      </div>

      <!-- Tarjeta 3 -->
      <div class="bg-white shadow-md hover:shadow-lg transition-all duration-300 rounded-2xl p-16 flex flex-col sm:flex-row items-start text-left">
        <div class="bg-yellow-100 p-3 rounded-full mb-4 sm:mb-0 sm:mr-4">
          <Pen class="w-8 h-8 text-yellow-600" />
        </div>
        <div>
          <h4 class="font-semibold text-lg text-gray-800">Diseño moderno y optimizado</h4>
          <p class="text-gray-500 text-sm mt-2">
            Interfaces limpias, intuitivas y rápidas. Siempre procuramos que el cliente final tenga la mejor experiencia posible y que la empresa tenga respuesta rapida a sus necesidades.
          </p>
        </div>
      </div>

      <!-- Tarjeta 4 -->
      <div class="bg-white shadow-md hover:shadow-lg transition-all duration-300 rounded-2xl p-16 flex flex-col sm:flex-row items-start text-left">
        <div class="bg-red-100 p-3 rounded-full mb-4 sm:mb-0 sm:mr-4">
          <Clock class="w-8 h-8 text-red-600" />
        </div>
        <div>
          <h4 class="font-semibold text-lg text-gray-800">Soporte técnico 24/7</h4>
          <p class="text-gray-500 text-sm mt-2">
            Asistencia constante para garantizar el funcionamiento correcto de tu software o sitio web.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
