<div class="bg-blue-custom text-white px-6 py-12 flex flex-col items-center justify-center text-center space-y-6">
 
    <p class="text-md sm:text-lg md:text-xl lg:text-lg max-w-3xl text-justify sm:text-center">
      <span class="text-md sm:lg md:text-2xl lg:text-2xl font-bold">¿No estás seguro de lo que necesitas?</span> <br>
      Contamos con asesoría para guiarte a la mejor solución de acuerdo a tus necesidades y presupuesto.

    </p>
  </div>
  