
<div class="lg:flex sm:w-full md:w-5/6 md:mx-auto lg:w-5/6 px-5 min-h-screen lg:grid-cols-2 lg:gap-4 mt-4 space-x-8">
    <!-- Contenedor de la imagen -->
    <div class="flex items-center justify-center lg:w-1/2">
        <img src="https://i.ibb.co/G3Hj62p3/impulsar.png" class="w-full max-w-md lg:max-w-full" alt="impulsar">
    </div>
    <!-- Contenedor del texto -->
    <div class="flex flex-col lg:w-1/2 justify-center px-4">
        <h2 class="text-lg lg:text-3xl font-bold text-black"> IMPULSAMOS TU NEGOCIO CON TECNOLOGÍA </h2>
        <p class="text-md sm:text-lg md:text-xl lg:text-2xl text-gray-700 leading-7 mt-6">
            <span class="text-md sm:lg md:text-2xl lg:text-3xl font-bold"> Innovación que transforma </span> <br>
            Convertimos tus desafíos en soluciones digitales a medida. Diseñamos y desarrollamos software 
            personalizado que optimiza tus procesos, mejora la eficiencia y potencia el crecimiento de tu 
            empresa.
        </p>
    </div>
</div>