<div class="flex flex-col sm:w-full md:w-5/6 md:mx-auto lg:w-5/6 lg:mx-auto p-10 min-h-screen">
    <h1 class="text-2xl sm:text-2xl md:text-2xl lg:text-3xl font-bold"> ¿Quiénes somos? </h1>
    <p class="text-md text-justify sm:text-lg md:text-xl lg:text-1xl text-gray-700 leading-7 mt-6">
        En <span class="font-bold text-blue-500">HighQDev</span>, somos más que una empresa de desarrollo
        de software: somos la <span class="font-bold">familia QDev</span>.
        Creamos el futuro digital a través de soluciones tecnológicas personalizadas para empresas de diversos sectores
        y para pequeños negocios que deseen tener un espacio en internet o requieran optimizar procesos, transformamos ideas en realidades escalables.
    </p>
    <div class="lg:flex lg:grid-cols-2 lg:gap-8 mt-8">
        <div class="flex justify-center lg:justify-start lg:w-full">
            <img src="https://i.ibb.co/NdqNwhdc/highqdev-logo.png" class="w-3/4" alt="highqdev-logo" />
        </div>
        <div class="flex flex-col lg:w-full">
            <p class="text-lg text-justify sm:text-lg md:text-xl lg:text-2xl text-gray-700 leading-7">
                <span class="text-md font-bold text-black lg:text-3xl"> Un poco de historia </span>
                <p class="text-md sm:text-lg md:text-xl lg:text-1xl text-gray-700 leading-7 mt-6 text-justify">
                    <span class="font-bold">2021 - HighQDev</span> nació como un proyecto orientado a satisfacer las nuevas necesidades que surgieron durante la pandemia. En ese contexto, muchas empresas se vieron obligadas a adoptar soluciones de automatización y optimización de ventas mediante tecnología. Negocios tradicionales tuvieron que explorar el mercado en línea, y vimos en ello una gran oportunidad de la cual decidimos formar parte.
                  </p>
                  
                  <p class="text-md sm:text-lg md:text-xl lg:text-1xl text-gray-700 leading-7 mt-6 text-justify">
                    <span class="font-bold">2023</span> El éxito en el mercado nos abrió nuevas puertas, y una de ellas fue la educación. Iniciamos programas de enseñanza de programación para niños y adolescentes, buscando que las nuevas generaciones se acerquen a la tecnología de una forma creativa y significativa. Como primer contacto, implementamos obras de teatro educativas que llevamos a escuelas y festivales.
                  </p>
                  
                  <p class="text-md sm:text-lg md:text-xl lg:text-1xl text-gray-700 leading-7 mt-6 text-justify">
                    <span class="font-bold">2025</span> Actualmente nos encontramos desarrollando distintos productos propios que pronto estaremos emocionados de compartir con el mundo. 
                  </p>
                  
            </p>
        </div>
    </div>
  </div>