<div class="flex flex-col px-8 mb-12">
    <h1 class="font-bold text-3xl text-center">Valores que nos impulsan</h1>
  
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-8">
      <!-- Tarjeta 1 -->
      <div class="flex flex-col items-center text-center">
        <img class="w-32 h-32 object-contain mx-auto mb-4"  src="https://i.ibb.co/W4ywvBhk/orientacion.png" width="225" height="200" alt="orientacion"/>
        <h2 class="font-bold text-xl lg:text-2xl">Orientación al cliente</h2>
        <p class="text-gray-600 text-md lg:text-lg">Diseñamos soluciones a la medida de tus necesidades.</p>
      </div>
  
      <!-- Tarjeta 2 -->
      <div class="flex flex-col items-center text-center">
        <img class="w-32 h-32 object-contain mx-auto mb-4" src="https://i.ibb.co/B5GJCMMW/calidad-2.png" width="500" height="500" alt="calidad"/>
        <h2 class="font-bold text-xl lg:text-2xl">Calidad</h2>
        <p class="text-gray-600 text-md lg:text-lg">Código limpio, eficiente y de alto rendimiento.</p>
      </div>
  
      <!-- Tarjeta 3 -->
      <div class="flex flex-col items-center text-center">
        <img class="w-32 h-32 object-contain mx-auto mb-4" src="https://i.ibb.co/84bTW3LK/innovacion.png" width="265" height="200" alt="innovación"/>
        <h2 class="font-bold text-xl lg:text-2xl">Innovación</h2>
        <p class="text-gray-600 text-md lg:text-lg">Siempre un paso adelante en tecnología.</p>
      </div>
  
      <!-- Tarjeta 4 -->
      <div class="flex flex-col items-center text-center">
        <img class="w-32 h-32 object-contain mx-auto mb-4" src="https://i.ibb.co/6RmHSWqt/compromiso.png" width="275" height="200" alt="compromiso"/>
        <h2 class="font-bold text-xl lg:text-2xl">Compromiso</h2>
        <p class="text-gray-600 text-md lg:text-lg">Tu éxito es nuestra prioridad.</p>
      </div>
  
      <!-- Tarjeta 5 -->
      <div class="flex flex-col items-center text-center">
        <img class="w-32 h-32 object-contain mx-auto mb-4"  src="https://i.ibb.co/QFN1N1qM/transparencia.png" width="325" height="200" alt="transparencia"/>
        <h2 class="font-bold text-xl lg:text-2xl">Transparencia</h2>
        <p class="text-gray-600 text-md lg:text-lg">Procesos claros y comunicación abierta.</p>
      </div>
  
      <!-- Tarjeta 6 -->
      <div class="flex flex-col items-center text-center">
        <img class="w-32 h-32 object-contain mx-auto mb-4"  src="https://i.ibb.co/x8qwLspL/honestidad.png" width="265" height="200" alt="honestidad"/>
        <h2 class="font-bold text-xl lg:text-2xl">Honestidad</h2>
        <p class="text-gray-600 text-md lg:text-lg">Colaboramos para crear innovación real</p>
      </div>
    </div>
  </div>
  