<div class="flex flex-col lg:w-full px-8 min-h-screen">
    <h1 class="font-bold text-3xl">Valores que nos impulsan</h1>
    <div class="flex flex-col lg:flex sm:w-full md:w-5/6 md:mx-auto lg:w-full lg:grid-cols-4 lg:gap-4 mt-4">
        <div class=" md:flex md:flex-row lg:flex lg:flex-row lg:w-full space-x-4 justify-center align-center aling-items-center">
            <div class="lg:w-1/4 ">
                <img class="mx-auto" src="https://i.ibb.co/W4ywvBhk/orientacion.png" width="225" height="200" alt="orientacion"/>
                <h2 class="font-bold md:text-lg lg:text-2xl">Orientación al cliente</h2>
                <p class="md:text-md lg:text-lg text-gray-600">Diseñamos soluciones a la medida de tus necesidades.</p>
            </div>
            <div class="lg:w-1/4 ">
                <img class="mx-auto" src="https://i.ibb.co/B5GJCMMW/calidad-2.png" width="500" height="500" alt="calidad"/>
                <h2 class="font-bold md:text-lg lg:text-2xl">Calidad</h2>
                <p class="md:text-md lg:text-lg text-gray-600">Código limpio, eficiente y de alto rendimiento.</p>
            </div>
            <div class="lg:w-1/4">
                <img class="mx-auto" src="https://i.ibb.co/qYKCk8sd/trabajo-equipo.png" width="260" height="200" alt="trabajo en equipo"/>
                <h2 class="font-bold md:text-lg lg:text-2xl">Trabajo en equipo</h2>
                <p class="md:text-md lg:text-lg text-gray-600">Colaboramos para crear innovación real.</p>
            </div>
            <div class="lg:w-1/4">
                <img class="mx-auto" src="https://i.ibb.co/84bTW3LK/innovacion.png" width="265" height="200" alt="innovación"/>
                <h2 class="font-bold md:text-lg lg:text-2xl">Innovación</h2>
                <p class="md:text-md lg:text-lg text-gray-600">Siempre un paso adelante en tecnología.</p>
            </div>
        </div>
    </div>
    <div class="flex flex-col lg:flex sm:w-full md:w-5/6 md:mx-auto lg:w-full lg:grid-cols-4 lg:gap-4 mt-4 my-8">
        <div class=" md:flex md:flex-row lg:flex lg:flex-row lg:w-full space-x-4 space-y-4">
            <div class="flex flex-col lg:w-1/4">
                <img class="mx-auto" src="https://i.ibb.co/6RmHSWqt/compromiso.png" width="275" height="200" alt="compromiso"/>
                <h2 class="font-bold md:text-lg lg:text-2xl">Compromiso</h2>
                <p class="md:text-md lg:text-lg text-gray-600">Tu éxito es nuestra prioridad.</p>
            </div>
            <div class="lg:w-1/4 justify-center items-center">
                <img class="mx-auto" src="https://i.ibb.co/QFN1N1qM/transparencia.png" width="325" height="200" alt="transparencia" />
                <h2 class="font-bold md:text-lg lg:text-2xl">Trasparencia</h2>
                <p class="md:text-md lg:text-lg text-gray-600">Procesos claros y comunicación abierta.</p>
            </div>
            <div class="lg:w-1/4">
                <img class="mx-auto" src="https://i.ibb.co/x8qwLspL/honestidad.png" width="265" height="200" alt="honestidad" />
                <h2 class="font-bold md:text-md lg:text-2xl">Honestidad</h2>
                <p class="md:text-md lg:text-lg text-gray-600">Colaboramos para crear innovación real</p>
            </div>
        </div>
    </div>
</div>
