---
import Layout from '../../layouts/Layout.astro';
import ContactForm from '../../components/ContactForm.astro';
---

<Layout title="Servicios" description="Servicios de HighQ Dev">
	<main class="px-6 bg-white lg:px-8">
    <h1>Servicios</h1>
    <ContactForm />
  </main>
</Layout>